@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  overflow-x: hidden;
}

/* lANDING PAGE FACADE */
#facade {
  width: 100vw;
  height: 100vh;

  background-color: #222222;
  background-image: url('../assets/background.png');
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}
#facade .container {
  padding: 20vh 15vw;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#facade h1 {
  font-size: 5.6vw;
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  color: #F1EFE9;
}
#facade i {
  font-size: 5.6vw;
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-weight: normal;
  color: #F1EFE9;
}
#facade h2 {
  font-size: 1.8vw;
  font-weight: normal;
  color: #F1EFE9;
}
#facade .info {
  padding: 1.5rem;
}
#facade form {
  width: 80%;
  margin: auto;
  padding: 4rem;
  background-color: #DBDAD6;
  text-align: left;
}
#faceade label {
  color: #222222;
}
#facade input {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  font-size: 1rem;
  color: #222222;
  outline: none;
  border: 1px solid #dddddd;
}
#facade .split {
  display: flex;
  column-gap: 2rem;
}
#facade .column {
  flex: 50%;
}
#facade button {
  width: 100%;
  height: 3rem;
  margin-top: .5rem;
  font-size: 1rem;
  color: #DBDAD6;
  background-color: #222222;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
#facade button:hover {
  opacity: 50%;
  transition: .2s;
}

/* ABOUT */
#about {
  background-color: #DBDAD6;
  padding: 10vh 15vw;
}
#about .split {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#about .image {
  flex-basis: 35%;
  align-items: center;
  justify-content: center;
}
#about img {
  width: 100%;
  height: auto;
  margin: auto;
}
#about .section {
  flex-basis: 65%;
  box-sizing: border-box;
  padding: 0 2rem;
}
#about h1 {
  margin-bottom: 1.5vh;
}
#about p {
  font-size: 1.25rem;
}

/* FOOTER */
#footer {
  background-color: #222222;
  padding: 10vh 15vw;
}
#footer .split {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#footer .logo {
  flex-basis: 40%;
  align-items: center;
  justify-content: center;
}
#footer img {
  width: 75%;
  height: auto;
  margin: auto;
}
#footer h2 {
  flex-basis: 60%;
  font-size: 4.2vw;
  color: #ffffff;
}
#footer .links {
  flex-basis: 40%;
  margin-bottom: 3rem;
}
#footer a {
  font-size: 12px;
  color: #ffffff;
}
#footer .addresses {
    flex-basis: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#footer .a, .b, .c {
  margin-bottom: 1.5rem;
}
#footer b {
  color: #ffffff;
}
#footer p {
  color: #ffffff
}
#footer br {
  margin-bottom: 1.5rem;
}


/* RESPONSIVE */
@media screen and (max-width: 850px) {
  #facade .split {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 950px) {
  #about .split {
    display: block;
    justify-content: center;
    flex-wrap: nowrap;
  }
  #about .section {
    padding: 2rem 2rem;
  }
}
